<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
	<typeAlias type="com.myweb.home.login.model.AccountDTO" alias="accountDto" />
	<typeAlias type="com.myweb.home.member.vo.MemberVO" alias="memberVo" />
	<typeAlias type="com.myweb.home.notice.model.NoticeDTO" alias="noticeDto" />
	<typeAlias type="com.myweb.home.main.model.MainDTO" alias="mainDto" />
	<typeAlias type="com.myweb.home.info.model.InfoDTO" alias="infoDto" />
	</typeAliases>
</configuration>
